[2016-01-21 17:06] vitormsilva opened #1 "Catalogue sourcepackage without sourceCode"
I follow your instructions https://github.com/reTHINK-project/dev-catalogue/tree/2.0#using-custom-catalogue-data-objects.

When we make a request to https://localhost/.well-known/sourcepackage/SecondHyperty, we don't have the sourceCode on the response.

[code]

Someone can help me?

[2016-01-22 13:43] #1 closed, assigned to Endebert

[2016-01-26 12:08] vitormsilva opened #2 "Default protocolstub and sourcePackageURL"
I have some questions about the default protocolstub and the url relative to it sourcePackageURL
1. How i define the default protocolstub to be loaded?
2. The sourcePackageURL of an protocolstub descriptor should be something like:

[code]

By the way, the sourcePackageURL generated shouldn't be like something:

but, at this moment

Because, when we try to load default protocol on with "hyperty-ca

[2016-01-27 17:14] emmelmann-fokus opened #3 "Request for additional objects to be stored in catalogue:"
Dear all:

we have finished on implementing a V2.0 of the catalogue.

The changes made in V2.0 will be pushed to the master branch of dev-catalogue on Friday the latest.

Please look at

https://github.com/reTHINK-project/dev-catalogue/tree/v2.0

as in V2.0, you will have to put the contents of advertised hyperties etc. in dedicated subfolders, one subfolder
per hyperty etc.

Also, this would be t

[2016-01-29 16:48] vitormsilva opened #4 "Sourcepackage from DataSchema without sourceCode"
Hi @Endebert,

I'm trying to add a dataSchema.json to the dataschema folder inside the catalogue_objects.

What i did:
1. Duplicate FristDataSchema Folder
2. Add a sourceCode.json
3. And make a request on browser for https://localhost/.well-known/sourcepackage/SecondDataSchema
4. return an object without the sourceCode

[code]

I don't know if I'm doing something wrong.. can you help me?

[2016-02-01 12:13] #2 closed, assigned to Endebert

[2016-02-01 17:32] emmelmann-fokus opened #5 "catalgue-test-client feature requests & fixes"
## Bugs

to be filled
## Feature Requests
### ~~Allow to select between http & https.~~

~~The GUI allows only http-based access of the catalogue.
1. allow to select between http and https (e.g. a toggle switch).  Default access protocol should be https.
2. Upon switching between http and https, the "reTHINK broker address" field needs to be updated to xxxx:80 for http selection and to xxx:443 for

[2016-02-03 16:25] emmelmann-fokus opened #6 "Update Figures"
external view:

  brocker --> broker  in fig (spelling error)

deployment view:

http proxy needs to forward to broker and not to database

[2016-02-05 08:47] #6 closed, assigned to emmelmann-fokus

[2016-02-05 11:03] #4 closed, assigned to Endebert

[2016-02-12 15:11] #3 closed, assigned to nobody

[2016-02-19 13:08] emmelmann-fokus opened #7 "proofread documentation"
Hi @Endebert ,

would you please be so kind to proofread the documentation found under ./doc.  Please let me know if I need to update anything.

Many thanks.

marc

[2016-02-22 11:08] #5 closed, assigned to Endebert

[2016-02-22 15:05] #7 closed, assigned to Endebert

[2016-02-22 16:29] Endebert opened #9 "Change Docker file after repo is gone public"

[2016-03-17 09:00] emmelmann-fokus opened #12 "Error message if no entries are present in the broker"
If you access the catalogue at:

https://catalogue.powercommunication.rethink.orange-labs.fr/.well-known/hyperty

you get right now the following error message:

HTTP ERROR: 500

Problem accessing /.well-known/hyperty. Reason:

    java.lang.NullPointerException

It is possible that the reason is that a catalogue-database did *not* populate any entries in the catalogue broker.

Please verify the b

[2016-03-17 09:04] sbecot commented on #12
If you tell me where I can find them I can send you the logs.

[2016-03-18 10:48] Endebert commented on #12
Fixed

[2016-03-18 10:48] #12 closed

[2016-03-18 11:47] Endebert commented on #9
Assuming this can be closed.

[2016-03-18 11:47] #9 closed

[2016-03-22 14:06] emmelmann-fokus opened #15 "Re-Read config upon signal"
idea for enhancement of the catalogue-database:

Upon receiving a signal, re-read the hyperty etc. object (i.e do not only read them upon starting the program).

May be considered in the next update (after May/June milestones).

[2016-03-23 16:40] sbecot opened #17 "sourceCode.js"
In the [guide](https://github.com/reTHINK-project/dev-catalogue/blob/master/doc/getting_started/usage_guide.md) you mention that sources are included in a sourceCode.js , but the Dataschema objects are json objects, not Javascript.
Do I have to include sourceCode.js, sourceCode.json? Should it be an exception?

[2016-03-24 07:18] emmelmann-fokus opened #19 "Prepare new release 1.1.0"
Just a placeholder to collect things that will be therein:

* bugfix in code that causes broker to stall on some machines
* new docker image illustrating how to derive your own "database image" that illustrates how to deploy personal catalogue objects in a dedicated image
* HelloWorld docker file (database added)  --> this should be moved into the standard rethink database image

[2016-03-30 09:06] Endebert commented on #17
You can include your schema as sourceCode.json. The current implementation takes the sourceCode file independently of its file extension.

I will update the guide accordingly, thanks for the feedback.

[2016-03-30 09:06] #17 closed

[2016-03-30 16:49] Endebert opened #20 "Impossible to directly request sourceCode if sourcePackage is provided in description.json"
As testable with with /protocolstub/default, requesting
`https://localhost/.well-known/protocolstub/default/sourcePackage/sourceCode`
would not return the sourceCode, instead it would return the sourcePackage.

WORKAROUND: Define sourcePackage in sourcePackage.json, not inside description.json, until the issue is resolved.

[2016-04-06 17:06] vitormsilva opened #22 "How i set the database to comunicate with broker"
Hi,

I'm configuring our test bed with catalogue docker files, and I have some difficulties to make it work, some one can help me?

I'm doing the following:
1. Start the catalogue-broker, expose the port 443
2. Start the catalogue-database, and expose the port 9080

But in the log of catalogue-database I get always the same message:
[code]
My doubt is, how I tell the catalogue database here the br

[2016-04-06 23:33] Endebert commented on #22
First please make sure you have the most current version of the docker images. Are you by any chance running the docker images in a virtual machine? We recently identified and fixed a bug in such an environment, that should not occur anymore with the current images.

Secondly, Are the broker & database running on the same machine? If so, localhost should work. Maybe there's a problem with a firewa

[2016-04-07 07:08] emmelmann-fokus commented on #22
@vitormsilva

thanks for this feedback.  This is exactly what we need.  Please have a look at

https://bscw.rethink-project.eu/bscw/bscw.cgi/34081

it is a snapshot of the sections I work on, so it is not yet integrated in d6.1  but the section on how to set up the catalogue, both in a stand alone and in a "testbed / distributed" environment is finished.

Don't hesitate to contact me if you have f

[2016-04-07 11:04] vitormsilva commented on #22
@emmelmann-fokus and @Endebert,

Thanks for a quick answer;

@Endebert,

Yes, i make a pull before running the dockers;

Is in the same machine, with the same network but in different dockers.

![hybroker](https://cloud.githubusercontent.com/assets/10596749/14349064/4e28fda8-fcb8-11e5-89d4-d3719c96e6b7.png)

i launching the dockers with this:
**catalogue-broker**
[code]
**catalogue-database**
[cod

[2016-04-07 12:23] emmelmann-fokus commented on #22
Hi,

the difference is that the tutorials are using the --net=host option of docker.  Hence, the docker instance shares the network IF with the hosting system.

The way you are using docker is in fact similar to setting up the broker & database on different machines with different IPs.  So localhost cannot work as you use the standard docker behavior to create two virtualized, completely separated

[2016-04-07 17:12] vitormsilva commented on #22
Hi,

It works, i think.

I used a network container to make the catalogue-database running in the same network than catalogue-broker and use 127.0.0.1 like a localhost..

I will analyse better and see if all it's working right.

[2016-04-07 17:12] #22 closed

[2016-04-07 18:02] emmelmann-fokus commented on #22
Excellent.  Just send an e-mail if you need further help.  We can Skype to find a quick solution.

[2016-04-08 13:04] vitormsilva opened #23 "Catalogue SourcePackageURL with localhost/127.0.0.1"
Hi,

I just can put the Catalogue working with our (ptinovacao) catalogue-database (catalogue-objects), but a doubt appears.

The sourcePackageURL, have an url with localhost.

[code]
I think, I did all right.

You can test on our testbed: https://catalogue.hybroker.rethink.ptinovacao.pt/client/

I don't know if this issue is related with #20

[2016-04-08 13:12] emmelmann-fokus commented on #23
Yes,

this is correct.  This is the default behavior in case someone want to set up all components on localhost.

You'll need to start the database with the -d option to set the hostname / ip used in the sourcePackageURL.

so do something like:

$ docker run  catalogue-database -d catalogue.rethink.pt

I just noticed that I missed to explain this in D6.1, apologies.  I will update the doc.

On 8 A

[2016-04-08 16:52] vitormsilva commented on #23
Hi,

i try to do what you said, but without success.

With docker-compse we can easily start all docker, but when i try to up with the options you have i always have the same problem.

can you look into my docker-compose.yml

[code]
This works, i can get the this result:
[code]
but sourcePackageURL: always have localhost

Can you help me?

[2016-04-11 05:21] emmelmann-fokus commented on #23
Hi,

I have not worked with docker compose before.  I would say you do not pass the "-d" option as mentioned above to the catalogue-brocker.

Have you tried to start the docker images individually, i.e. without using docker compose?  We need to nail down your problem and right now, it looks to me the issue is the use / incomplete configuration of the docker compose file.

How do you pass arguments

[2016-04-11 09:45] vitormsilva commented on #23
Hi,

Thank you.
I solved the problem, I had understood in a wrong way the argument -d, I was thinking is related to the docker command but is not, is an argument passed to inside the docker.

Sorry for boring you.

Thanks.

[2016-04-11 09:45] #23 closed

[2016-04-15 10:08] #20 closed

[2016-04-18 11:32] vitormsilva opened #25 "Unable to receive sourcePackage with large sourceCode attribute"
Hi,

I have a problem, and need help to solve it;

When i load into the catalogue-database the [RuntimeUA distribution file](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.4/dist/RuntimeUA.js), the catalogue-broker brokes, and throw an error:

In the log console i have this:
[code]
You can see more on image.

![screenshot from 2016-04-18 12-26-38](https://cloud.githubusercontent.co

[2016-04-18 14:02] Endebert commented on #25
Hi @vitormsilva,

yes this bug is related to file size and is a bug inside of leshan.
I contacted them and it will be fixed in their next version, which will hopefully release this month. I'm currently adapting the catalogue to use the new version and the problem will be fixed in version 1.1.0 of the catalogue.

The bug prevents you from retrieving the sourcePackage instance from the broker, but d

[2016-04-20 11:22] vitormsilva opened #26 "Catalogue Broker Cors"
Hi @Endebert,

I have on question, it is possible to activate the cors on catalogue-broker?
Before I put in production I would like testing if all it's right, or if I don't want to use the LocalCatalogue has a way to testing.

Do does make sense to you? Can you help me?

[2016-04-20 15:24] Endebert commented on #26
Hi @vitormsilva,

I'm not really sure how to do that. Can you tell me how to activate the cors? I did a quick google search, but I'm not sure what to do exactly. Do I only need to add the header `Access-Control-Allow-Credentials: true` to server responses or how does it work?

[2016-04-20 15:50] vitormsilva commented on #26
I guess yes.

But I don't know full details, sorry.

[2016-04-20 15:59] pchainho commented on #26
You have to follow the standard that is supported by most of the HTTP Servers:

https://www.w3.org/wiki/CORS_Enabled

[2016-04-20 16:13] Endebert commented on #26
@pchainho the link you posted seems to focus only on "Access-Control-Allow-Origin", which is already set by the catalogue broker. I thought this is about a different header?

[2016-04-21 10:07] emmelmann-fokus commented on #26
We discussed this issue today in the WP3 call and from my perspective, there is not missing feature.

The requested behavior / feature was as follows:

(1) I want to retrieve a runtime from catalogue.rethink.com
(2) I want to retrieve hyperties from catalogue.hybroker.pt

So basically there was a request to support more than one catalogue each holding different components.

This works as of today.

[2016-04-21 10:42] pchainho commented on #26
@emmelmann-fokus if I understood you correctly, what you mention does not address the cross origin problem. Taking your example, independently of how you deploy in terms of docker images the different Catalogue instances in each domain, if they are not CORS enabled and:

- you load the runtime descriptor and source package from "https://catalogue.rethink.com"

- you got an error in the browser whe

[2016-04-21 10:48] pchainho commented on #26
perhaps this article may help:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

[2016-04-22 10:11] emmelmann-fokus commented on #26
Hi @pchainho,

could you please send logs that illustrate the problem.  I had just a meeting with @Endebert and every get-response contains "Access-Control-Allow-Origin: *"

That corresponds to the requirement as documented in the quoted tutorial, i.e.:

So there should not be any cross-domain issues.

We cannot reproduce the error you indicate.  Could you please provide wireshark traces and set u

[2016-04-22 13:44] vitormsilva commented on #26
Hi, when I open the issue, I had this error:

![screenshot from 2016-04-20 11-51-14](https://cloud.githubusercontent.com/assets/10596749/14742773/ce5403a4-0895-11e6-98f8-d9c7cf29f147.png)

I hope this print can help;

[2016-04-22 14:06] pchainho commented on #26
question: is CORS enabled by default or is there an optional parameter to be used?

[2016-04-22 14:18] Endebert commented on #26
Hmm, this is odd. As you can see [here](https://github.com/reTHINK-project/dev-catalogue/blob/master/catalogue_broker/src/main/java/eu/rethink/catalogue/broker/servlet/WellKnownServlet.java#L60), every GET response should have the `Access-Control-Allow-Origin` header. As far as I can tell, the only reason the response would not have the header is if the requestHandler throws an exception while han

[2016-04-22 15:23] vitormsilva commented on #26
Sorry for bothering you, you are right, the problem was the proxy.
It's solved;

Thanks for the help;

[2016-04-22 15:23] #26 closed

[2016-04-27 08:35] vitormsilva opened #27 "Connection lost between Broker and Database"
After a period of 48 hours (weekend) the connection between broker and database is lost;

[2016-04-27 08:46] Endebert commented on #27
Do you have any logs I can look into? I think this issue will be fixed in 1.1.0 when we use the new leshan version (because it sends a client update every minute), but it would still be great if we could find out why the connection is lost in the current version.

[2016-05-06 14:56] vitormsilva opened #28 "Default protocolstub catalogue-database is not replaced by our"
Hi @Endebert,

I'm start configure the testbed and for that, i push the common catalogue database objects, and i delete in [dev-catalogue/docker/catalogue-database-reTHINKdefault/catalogue_objects/](https://github.com/reTHINK-project/dev-catalogue/tree/master/docker/catalogue-database-reTHINKdefault/catalogue_objects) the protocolstub folder, because the default protocolstub is specific of each pa

[2016-05-09 07:45] emmelmann-fokus commented on #28
Hi,

we have to distinguish between protocol stubs (of which several can be in the global catalogue), and the "default protosutb" which is specific to each domain / partner.

Not sure if we should delete the entire protocol sub folder ?

[2016-05-10 09:18] Endebert commented on #28
@vitormsilva I just tried it and it works on my end as intended. Could you please provide more information like logs, and maybe your directory tree?

[2016-05-10 10:19] vitormsilva commented on #28
I think the problem is solved, I don't delete the default protocolstub like Marc said;

Closing issue;

[2016-05-10 10:19] #28 closed

[2016-05-13 09:55] vitormsilva commented on #25
Hi @Endebert,

Regarding this issue, the problem doesn't happen only with the large files, but with small files too;

You can test https://catalogue.hybroker.rethink.ptinovacao.pt/.well-known/sourcepackage/10002, for example.

When have we an update to this?

Thanks.

[2016-05-13 10:01] Endebert commented on #25
I just pushed the new version (1.1.0) into the dev branch, and the relase is currently planned for next tuesday.

If this bug is blocking your progress, please try using the current state of the dev branch, which should work properly.

[2016-05-13 10:05] emmelmann-fokus commented on #25
@Endebert , could you just please confirm that you pushed the new release in the "DEV" branch?

I will create additional docker images (with dev tag based on the newest dev branch) right now to help @vitormsilva

Best

Marc

[2016-05-13 10:07] Endebert commented on #25
yes it is the dev branch, I merged the leshan-M10 branch into it.

[2016-05-13 10:13] emmelmann-fokus commented on #25
done.  dev tags are available.

I will have to verify that the docker-files in the dev branch do not derive from the master branch.  But this requires concentration and its 1AM right now for me.  I'll look at this over the weekend and we will have tested docker files for the dev branch on Monday morning your time.

New release in the master branch will be on Tuesday your time.

[2016-05-17 08:38] Endebert commented on #15
Feature added in 1.1.0.

Databases can be restarted with the broker http interface, using either `/.well-known/restart` (restarts all connected databases) or `/.well-known/restart/<endpoint>`. The database(s) will unregister and restart, re-reading the catalogue objects folder while doing so.

[2016-05-17 08:38] #15 closed

[2016-05-17 08:39] Endebert commented on #19
[Released](https://github.com/reTHINK-project/dev-catalogue/releases/tag/1.1.0). complete changelog:

* Updated leshan version to 0.1.11-M10
* updated model (accessControlPolicy & scheme not mandatory anymore)
* added ability to restart all connected databases, or a specific one, using either '/.well-known/restart' or '/.well-known/restart/<endpoint>'
* renamed folder for idp proxy object from "id

[2016-05-17 08:39] #19 closed

[2016-05-17 08:40] Endebert commented on #25
[Fixed in new release 1.1.0.](https://github.com/reTHINK-project/dev-catalogue/releases/tag/1.1.0)

[2016-05-17 08:40] #25 closed

[2016-05-17 08:40] Endebert commented on #27
Should be fixed in new [release 1.1.0](https://github.com/reTHINK-project/dev-catalogue/releases/tag/1.1.0)

[2016-05-23 10:18] vitormsilva commented on #27
Hi @Endebert,

I think this problem presists.. i upload the 2 log files..

[catalogue-broker.txt](https://github.com/reTHINK-project/dev-catalogue/files/277255/catalogue-broker.txt)
[catalogue-database.txt](https://github.com/reTHINK-project/dev-catalogue/files/277256/catalogue-database.txt)

In Friday all works fine, but today, I have no communication with catalogue database.

If you need somethi

[2016-05-24 10:24] Endebert commented on #27
Thanks for the logs. From what I can tell, it seems that you are not using the latest version of the broker and database.

If you are using and building the docker images from /docker/, please do a `docker pull` for both rethink/catalogue-broker and rethink/catalogue-database.

[Additionally, I just pushed a small fix, because the in the docker folder the `idpproxy` folders were not renamed yet.](

[2016-06-03 16:16] vitormsilva opened #30 "Catalogue database error"
Hi @Endebert,

I have this error when i start the catalogue, [catalogue-database-ptinovacao.txt](https://github.com/reTHINK-project/dev-catalogue/files/297953/catalogue-database-ptinovacao.txt)

I don't know if I'm doing something wrong..

I'm using the this [database](https://github.com/reTHINK-project/dev-catalogue/tree/master/docker/catalogue-database-reTHINKdefault), i don't know if is related

[2016-06-03 19:00] Endebert commented on #30
Hmm it seems to be a problem related to the description.json of the runtime, could you please double-check its content, maybe you accidentally deleted a symbol inside of it, or something like that? The file in the repository seems fine. It's definitely unrelated to the sourceCode.js.

The error is a MalformedJsonException and "protocolCapabilities" is the only clue. I believe the description.json

[2016-06-06 10:10] vitormsilva commented on #30
I did an experiment, build the same runtime, in own database-ptinovacao.. and it works well, i don't know if this can gave you a clue to discover the problem..

I have the log with "-v" option [docker-compose.yml.txt](https://github.com/reTHINK-project/dev-catalogue/files/300140/docker-compose.txt)
I have my docker-compose.yml [here](https://github.com/reTHINK-project/dev-catalogue/files/300121/do

[2016-06-07 09:33] Endebert commented on #30
I have tried it and got no errors. However, [I extended my code to print the contents of the file if parsing failed](https://github.com/reTHINK-project/dev-catalogue/commit/ac1936131a3d6989cc4a3173d31655474a99682a). I don't know how long docker needs to update the docker images, but please do a `docker pull rethink/catalogue-database` and try building the image of catalogue-database-reTHINKdefault

[2016-06-07 09:42] emmelmann-fokus commented on #30
The images should be ready.  The latest update causing a build finished 27 minutes ago.  You may check yourself in cause you're in doubt if the latest update is available:

https://hub.docker.com/r/rethink/catalogue-broker/builds/
https://hub.docker.com/r/rethink/catalogue-database/builds/

Cheers,

Marc

[2016-06-07 09:50] Endebert commented on #30
@vitormsilva I was able to reproduce the error by modifying the descritption.json. In the current version, it would look like this:
[code]
I'm pretty sure the reason for the error is one too many commas in the file, specifically a comma after the `protocolCapabilities` object.

After checking the git history of description.json, I can see that [you even fixed that error yourself 4 days ago](https:

[2016-06-07 14:13] sbecot opened #31 "Can't start catalogue-database-reTHINKdefault"
After getting the dev-catalogue folder from git, I run
`docker build -t rethink/catalogue-database-default .  `
then
 `docker run -d -it --name="catalogue-database2" rethink/catalogue-database-default -h 172.17.0.6 -d catalogue.powercommunication.rethink.orange-labs.fr   `
But the catalogue crashes. I get this log:
`2016-06-07 13:54:52,248 I CatalogueDatabase  Starting Catalogue Database...  `
`20

[2016-06-07 14:43] sbecot commented on #31
Well, seems that the git pull changed the idp-proxy was named idpproxy on my VM. I changed this and it fixed the pb. The question is why the git pull didn't rename ipdproxy forder?

[2016-06-07 14:49] Endebert commented on #31
Hi @sbecot, thanks for the feedback. Are you working with the dev branch? I fixed the folder names in the master branch, but just noticed that until now I forgot to merge those changes into the dev branch. Sorry.

[2016-06-07 14:52] sbecot commented on #31
Right, I'm on the dev branch, that is the reason.

[2016-06-07 14:52] #31 closed

[2016-06-17 08:21] Endebert commented on #30
No response, so I guess this is can be closed

[2016-06-17 08:21] #30 closed

[2016-06-17 08:22] Endebert commented on #27
No update, so I'm closing this issue

[2016-06-17 08:22] #27 closed

[2016-06-27 16:16] sbecot opened #34 "How is chosen default runtime when there is no default runtime?"
Trying to setup a simple application, we're experimenting some problems.
Application is deployed here: https://powercommunication.rethink.orange-labs.fr/
Catalogue is deployed here: https://catalogue.powercommunication.rethink.orange-labs.fr/
The default catalogue https://github.com/reTHINK-project/dev-catalogue/tree/dev/docker/catalogue-database-reTHINKdefault was provided by a Runtime that I cha

[2016-06-27 16:23] KCorre commented on #34
**Other related remarks**

Same issue for protoStub and IDP-Proxy (at least).

"default" should not be separate objects but pointers to "real" objects. Or at least that should be an option:
* making a pointer "default" to another object does not make any difference. Probably because the object name is not "default" (inside the Json).
* even though "default" request results in a response, the "defa

[2016-06-28 10:01] Endebert commented on #34
I agree with your points and will add a launch option where you can set the default hyperty/runtime/etc.

However, this means that I will also implement an error response when requesting a default hyperty/runtime/etc. and none as been set. This will probably break some current environments, so we will have to make sure everyone gets notified of the change.

[2016-06-28 10:08] emmelmann-fokus commented on #34
@Endebert, can you send an e-mail to "all@rethink-project.eu" notifying them on this issue and the intended fix as it might break existing deployments.

Please request objections to the fix and if none has been received within 10 day, proceed with the implementation.

[2016-06-28 10:13] Endebert commented on #34
@emmelmann-fokus I will put the fix into the dev branch and notify them of the change, and after a period of time (and if no objections have been raised) I will merge it into the master branch and create a new release.

[2016-06-29 16:52] Endebert commented on #34
[I just pushed a commit that implements the behaviour discussed in this issue. ](https://github.com/reTHINK-project/dev-catalogue/commit/33f50edcd489046eece9516612d147c8cbc48fd0)

What has changed?

1. You can set a default instance with the new option "-default" when starting the broker. You can use the option several times to set a default instance for each type, like this:

[code]
  As you can

[2016-06-30 07:52] sbecot commented on #34
Well, changing the /docker/catalogue-database-reTHINKdefault is not enough: it is based on the root catalogue database that already has a default and FirstProtostub embedded.

[2016-06-30 08:26] sbecot commented on #34
Another remark: I can understand what's a default runtime, a default protostub for a dedicated platform, but what means a default hyperty?

[2016-06-30 08:29] emmelmann-fokus commented on #34
The default objects in the images should be ignored with the new version. So having them in the images does not effect the new functionality while we clean up the existing images, i.e., delete the default objects in there.

[2016-06-30 08:30] emmelmann-fokus opened #35 "Clean-up catalogue database images"
Check all database images and delete the "default" object in them.

[2016-06-30 08:39] emmelmann-fokus opened #36 "Update documentation in Wiki"
Please go recursively through https://github.com/reTHINK-project/dev-catalogue/tree/master/doc and check if at any point the documentation needs to be updated due to the new "default" behavior of the catalogue database.

[2016-06-30 08:42] emmelmann-fokus commented on #34
This is something we need to discuss in WP3.  The agreed resource paths that the catalogue has to support specifies a "default" for each kind of resource. But with the new version of the catalogue, it is up to the user to decide for which resource to provide a "default" object.  I know that does not address your concern; and I agree with your question.

[2016-06-30 10:52] Endebert commented on #34
Since @emmelmann-fokus [also created an issue about it](https://github.com/reTHINK-project/dev-catalogue/issues/35), I will go ahead and remove all objects that are named default.

When I add features like this, I try to be as generic as possible. The Catalogue treats each type equally, so it would not make sense to artificially limit this feature to only a few types. I provided the example only t

[2016-06-30 11:06] Endebert commented on #36
Updated "Usage Guide" and added a note to "User View" in the dev branch.

[2016-06-30 11:06] #36 closed

[2016-06-30 11:07] Endebert commented on #35
Removed all "default" objects [with this commit](https://github.com/reTHINK-project/dev-catalogue/commit/f4fd62530f4c1900f0855761b0c1febc005e3391).

[2016-06-30 11:07] #35 closed

[2016-07-07 15:29] jboulmal opened #37 "Missing documentation for local deployment"
We have noticed a lack of information on how to deploy and configure this catalogue locally ?
We share this concern with different contributors in the rethink project ?

[2016-07-07 20:26] Endebert commented on #37
I don't see the problem. In the main readme, it is stated:

There you can find both an [installation](https://github.com/reTHINK-project/dev-catalogue/blob/master/doc/getting_started/installation_guide.md) and [usage](https://github.com/reTHINK-project/dev-catalogue/blob/master/doc/getting_started/usage_guide.md) guide, together they should provide you with all the information you need.

[2016-07-08 07:27] jboulmal commented on #37
yes, I agree with you about the README, but it's not clear which components are mandatory. how it works ?

[2016-07-08 08:32] emmelmann-fokus commented on #37
Hi @jboulmal ,

in short: you must have one catalogue-broker deployed and at least one catalogue-database.

Have you had a look at the deliverable D6.1 which describes the deployment of testbed infrastructures?
Maybe you can give a detailed comment on the therein contained description.

https://bscw.rethink-project.eu/bscw/bscw.cgi/d35609/D6.1%20Testbed%20specification.pdf

Best,

Marc

[2016-07-08 09:49] jboulmal commented on #37
Thanks for you help.
I have had a look to D6.1. I'll check it out.
Wecan go ahead and close this issue then.
Cheers,
Jamal

[2016-07-08 10:10] #37 closed

[2016-07-27 09:50] Endebert commented on #34
I just merged the dev branch into the master branch, that includes the new way of defining default hyperties/protosubs/etc.

Therefore I'm closing this issue. If you find any issues with the new version, don't hesitate to create new issues

[2016-07-27 09:50] #34 closed

[2016-07-27 14:05] vitormsilva opened #39 "Starting catalogue-broker error"
Hi @Endebert,

I try to start the catalogue.. and i have the following message: [catalogue-broker.txt](https://github.com/reTHINK-project/dev-catalogue/files/386241/catalogue-broker.txt)

I start the broker in the same way as before..
Could you help me?

[2016-07-27 14:10] Endebert commented on #39
Could you please provide the error log again, it seems the link provided does not point to a broker log

[2016-07-27 14:13] vitormsilva commented on #39
yes.. sorry i don't know what happened

[catalogue-broker.txt](https://github.com/reTHINK-project/dev-catalogue/files/386266/catalogue-broker.txt)

[2016-07-27 14:21] Endebert commented on #39
I don't really know what's going on there, if possible could you please start the broker with the -vv option?

It sounds like a problem related to the catalogue objects on the database. Is there anything suspicious in the log of the Catalogue Database? Try to run that with -vv, too, and send me the logs

[2016-07-27 14:34] vitormsilva commented on #39
I hope this can help:

[catalogue-broker.txt](https://github.com/reTHINK-project/dev-catalogue/files/386305/catalogue-broker.txt)

[2016-07-27 15:09] Endebert commented on #39
Ok from what I can tell, the resource requested is ok, but the broker seems to have trouble decoding the response from the Catalogue Database.

I can also see that you updated the Catalogue Broker, but not the Catalogue Database.

Could you please update the Catalogue Database and try again, I believe this would fix the problem.

[2016-07-27 15:14] vitormsilva commented on #39
I have update the database too.. i think..

[code]
Ok.. i will do it again.. could solve the problem..

[2016-07-27 16:14] vitormsilva commented on #39
I update the database and solve the problem.. but now we are facing other issue.. the catalogue-broker starts but i can't access it;

Docker images are updated
[code]
the log file:
[catalogue-broker.txt](https://github.com/reTHINK-project/dev-catalogue/files/386545/catalogue-broker.txt)

[2016-07-27 18:19] Endebert commented on #39
Hmm this could be a result of the new way the Catalogue Broker is configured. Because now, the default settings include the Broker hostname, which was unset in the old version by default. Now the default hostname is "localhost", which might be the source of the problem.

There are 2 ways we can try to solve this issue:

1. specify a hostname
  * use the -host option to set the hostname. This could

[2016-07-28 10:31] vitormsilva commented on #39
@Endebert

I use the `-host` option, and seems working, at least on my machine.
I think i can close the issue.

Thank you;

[2016-07-28 10:31] #39 closed

[2016-08-11 10:20] emmelmann-fokus opened #41 "docker image of catalogue-database-rethinkdefault based on dev branch"
Add an automatic build of docker images for catalogue-database-rethinkdefault based on the dev branch.

[2016-08-11 10:22] emmelmann-fokus commented on #41
**done**

Dockerhub now provides catalogue-database-rethinkdefault:dev  which is based on the dev branch.

@all please let me know if you would for ease of use have additional build based on the dev branch for catalogue entities.  If so, please specify which docker hub images you would like to be provided an the dev branch.

[2016-08-11 10:22] #41 closed

[2016-08-30 09:20] sdruesedow opened #42 "Issue with deprecation of -domain parameter for the cataloge-database"
I have an issue with the deprecation of the -domain parameter, because I'm not able anymore to receive valid sourcePackageUrls.

My setup is as follows:
Im not using --net=host for the deployment of the broker and the database, instead I use a custom network (--net=rethink).
This allows the use of the built-in docker-DNS to address containers by their name. The name of my containers are "catalogue

[2016-08-30 09:20] sdruesedow commented on #42
Just for completenes - here are the printed out configs for the broker:

2016-08-30 08:53:18,954 I BrokerConfig       File 'brokerconf.json' doesn't exist.
2016-08-30 08:53:18,955 I BrokerConfig       Loading default Configuration...
2016-08-30 08:53:18,962 I CatalogueBroker    Starting Catalogue Broker based on config:
{
  "host": "catalogue-broker",
  "coapHost": "catalogue-broker",
  "keystoreP

[2016-08-30 09:21] sdruesedow commented on #42
and for the database:

2016-08-30 08:57:15,368 I DatabaseConfig     File 'dbconf.json' doesn't exist.
2016-08-30 08:57:15,369 I DatabaseConfig     Loading default Configuration...
2016-08-30 08:57:15,370 W DatabaseConfig     -domain is deprecated and will be ignored! Catalogue Broker modifies sourcePackageURL on-the-fly!
2016-08-30 08:57:15,376 I CatalogueDatabase  Starting Catalogue Database base

[2016-08-30 11:46] Endebert commented on #42
Hi @sdruesedow ,

in the current version, the Catalogue Broker hostname is used for generating/adapting the sourcePackageURL. Could you please try and set the Broker configuration, so that "dev.rethink.tlabscloud.com" is now your "host".

I believe something like this should work:

Broker:
[code]

Database:
[code]

Hopefully this fixes your problem. Please let me know if this results in problems a

[2016-08-30 12:16] sdruesedow commented on #42
I'll try ... thanks!

[2016-08-30 12:23] sdruesedow commented on #42
hmm ... seems that the "...jetty.server.ServerConnector" tries to bind to that host name during startup, which does not work.

[2016-08-30 14:13] Endebert commented on #42
Ok, sorry for the trouble, I will add a new option to manually set the sourcePackageURL host on the broker as soon as I can.

[2016-08-31 09:13] Endebert commented on #42
@sdruesedow I updated  the Catalogue Broker, so you can manually set the sourcePackageURL hostname that is used when generating/adapting the sourcePackageURL.

Just FYI, I also now set the protocol for sourcePackageURLs to always be "hyperty-catalogue://", so if you have some logic implemented, that tries to do a HTTP request to that URL, you have to exchange the protocol with https.

[2016-08-31 10:23] sdruesedow commented on #42
tested successfully - Thanks Robert !

[2016-08-31 10:23] #42 closed

[2016-09-28 11:55] pchainho opened #46 "Remove First/Second/ThirdHyperty"
These Hyerties are not functional and don't work as examples, pls remove

Could we remove the full "[catalogiue objects](https://github.com/reTHINK-project/dev-catalogue/tree/master/catalogue_objects)"?

[2016-09-30 10:24] #46 closed

[2016-10-01 19:19] pchainho opened #50 "cguid not unique"
While debugging the [timeout](https://github.com/reTHINK-project/specs/issues/7) bug we've realised that [catalogue objects](https://github.com/reTHINK-project/specs/tree/master/datamodel/core/hyperty-catalogue) are not having `cguid` as global unique identifiers [causing problems when deploying catalogue objects](https://github.com/reTHINK-project/dev-service-framework/blob/revised-catalogue/src/

[2016-10-04 10:30] Endebert commented on #50
@pchainho could you specify which catalogue objects are interfering with each other? Or did you use custom objects in your testbed?

[2016-10-04 17:44] pchainho commented on #50
One example is the default protostub for "hybroker.rethink.ptinovacao.pt" and "rethink.tlabscloud.com" that have the same "cguid" `40001`. Thus, in cross domain scenarios, the runtime catalogue local storage have the same key for two different protostubs.

But afaik this is a general problem that can happen to any catalogue object, not only to default protostubs.

There should be a way to avoid th

[2016-10-05 07:22] emmelmann-fokus commented on #50
It is the responsibility of the person providing the catalogue object to put a GUID in the field. The means on how to create such a GUID is out of scope here.

One means could be to use: https://guidgenerator.com

No need to change anything in the spec or implementation.

[2016-10-05 08:34] pchainho commented on #50
Disagree, we can't force developers to use this. It is safer to be the catalogue ensuring we have the GUID in the field.

[2016-10-05 08:47] emmelmann-fokus commented on #50
We are not forcing developers to use this tool.  They may use any mean they which to generate a GUID.  The catalogue is hosting correct catalogue objects.

If the catalogue were to automatically place a GUID in the field upon loading, the GUID would likely not be persistent.  Also, it is very well possible to host the same catalogue object in several catalogues. To identify the catalogue object, w

[2016-10-05 14:39] sbecot commented on #50
A question: why do we provide GUIDs for packages (why Global)? Wouldn't an ID and domain be enough? If I take the GUID of an already online catalogue object, and put online my catalogue, who will notice that there is a problem -except when a bug occurs-?
The global registry is the only instance managing GUIDs, and it is dedicated to users, not to catalogue objects. So nothing is planned to take ca

[2016-10-05 16:16] emmelmann-fokus commented on #50
Hi,
I don't want to re-open the discussion again why we added a _G_UID to each catalogue object.  There are many reasons to do and as many not to do it.

From what I remember of the discussion we had way back at the Aveiro meeting:
* The same catalogue object might be stored in several catalogues.  E.g., if we develop a hyperty, this hyperty might be stored in the catalogue hosted by several servi

[2016-10-06 13:01] pchainho commented on #50
@emmelmann-fokus the main point is that if it is not the catalogue or some other provisioning tool working together with the catalogue, there is no way to ensure the cguid is unique.

It is not hard having this done by developers, of course, but there could always be accidents or even malicious developers that can take advantage of this weak point.

Another point is that there are source packages

[2016-10-06 13:23] emmelmann-fokus commented on #50
Please open a dedicated issue before changing anything in the catalogue object specification.  The implementation might use the GUID internally for indexing / keeping track of catalogue.  The spec of the catalogue object said to have a globally unique ID in that place and we have to ensure that implementations do not break before changing specifications.

[2016-10-06 15:05] sbecot commented on #50
I probably missed this point in Aveiro, but it seems that asking to provide a unique  global ID with no mean to generate/control it is a bit tricky or even risky.

I fully agree. As far as I know, developers are not disciplined people if they are not constrained. And also would it mean that a checksum should be provided to ensure no code modification? If 2 codes differents have same cguid, who is

[2016-10-06 15:45] emmelmann-fokus commented on #50
Honestly, I would suggest to leave everything as it is.  Just generate within the project a GUID and use it. That will avoid any issues.

For later deployment, no matter what you do, unless you establish a "well controlled entity" (however that will look like), you will never solve the issue to counteract

Architecturally, there are two aspects here:

1. How to generate a GUID
2. How to assure tha

[2016-10-06 16:00] pchainho commented on #50
@emmelmann-fokus that's why cguid can't be generated by developers but by the Catalogue. I guess the catalogue URL would work and no further sophisticated algorithms would be needed. But its up to you about the best and simplest way to generate it.

@sbecot this issue was raised exactly because it was causing errors in some interoperability scenarios. ie since there was the same cguid for two diff

[2016-10-07 08:18] emmelmann-fokus commented on #50
Well to be honest and to the point, the errors were caused because people that deployed two different catalogue objects did not follow the specification but used both the same GUID (which was not globally unique).

If the catalogue generates the GUID for objects itself, it cannot guarantee that this GUID is persistent.  It will change each time a database is (re)loaded.  If you want a persistent G

[2016-10-07 18:11] pchainho commented on #50
@emmelmann-fokus we can postpone the final decision with changes to specs if required but we should agree on a quick fix now. That's the purpose of this issue.

If you don't want to change the catalogue at this point, the quick fix I propose, is not to use the cguid and just the catalogue URL as the key for persisting the catalogue objects at Runtime. If you agree with this, then we can close this

[2016-10-10 08:51] emmelmann-fokus commented on #50
@pchainho I would like to talk to Robert first.  If I remember correctly, the catalogue uses internally the GUID as an index to the stored data -- which requires it to be a GUID.  As a quick fix, I would suggest to put a GUID in the GUID field.

I have the feeling that it is architecturally wrong to use the catalogue URL to the object for persistence as different catalogues may store the identical

[2016-10-12 15:21] sbecot opened #51 "default catalogue has no protostub example"
I suggest to insert a protostub folder here:
https://github.com/reTHINK-project/dev-catalogue/tree/master/docker/catalogue-database-reTHINKdefault/catalogue_objects
including up to date versions of the protostubs of developped messaging nodes to facilitate plateform deployment.

[2016-10-12 17:25] emmelmann-fokus commented on #51
no objections from my part.  @Endebert what do you think?

[2016-10-13 08:58] Endebert commented on #51
I added the Vertx Protostub we use in our testbed that is working.

I also added the NodeJS Protostub that is already included in /docker/catalogue-database-reTHINK-HelloWorld, but I don't know how up-to-date this version is. I think its best if the people responsible for the various protostubs should provide the necessary source code that is supposed to be served by the Catalogue.

Could someone

[2016-10-13 09:04] sbecot commented on #51
Thank you.
No the nodejs is not up to date, and I'm currently trying to solve this with APIzee. I agree that the protostubs should be published here by the responsible of the code.

[2016-10-13 09:32] jboulmal commented on #51
We have updated it. However, we haven't provided it in the catalogue.
We will do it soon do some fixes and push it to the appropriate  catalogue.

[2016-10-13 09:33] Endebert commented on #50
Maybe we should first define what exactly the GUID is supposed to represent. From my point of view, I assumed the GUID is supposed to be unique for descriptor + sourcePackage, i.e. source code and its configuration.

So. if you say:

then it implies that the default protostub for both are exactly the same, i.e source code + configuration.

But, according to what I stated above, both protostubs are

[2016-10-13 10:14] pchainho commented on #50
They are not. The configuration from the different catalogue objects can be different and are not set by the developers but by the service provider. And each service provider is not able to know what are the "cguid" used by other service providers.

It is clear from this discussion that currently "cguid" is a problem not a solution and should not be used in the runtime.

[2016-10-13 10:33] emmelmann-fokus commented on #50
Thanks all for the clarifications.

So taking it from there, we have all the freedom to modify the GUID.

As this is not a catalogue related problem, we should open a corresponding issue in WP3 or even WP2 (not sure if WP4 is using the GUID for anything).

@pchainho could you close this issue here once we have a new issue in WP2/3/4 (wherever it fits best since it is a general architectural discus

[2016-10-17 16:49] pchainho commented on #50
see https://github.com/reTHINK-project/dev-runtime-core/issues/120 for the quick fix and https://github.com/reTHINK-project/specs/issues/12 for the specs related discussion

[2016-10-17 16:49] #50 closed

[2016-10-24 07:56] sdruesedow commented on #51
I added the MatrixProtoStub/ folder to the dev branch. The included stub works for Matrix MN as well as for the new NoMatrix MN.

[2016-11-03 12:22] Endebert commented on #51
Could everyone responsible for any of the listed msg nodes add a check if you have added a current version of the msg node to the rethinkdefault catalogue database:

- [ ] https://github.com/reTHINK-project/dev-msg-node-vertx
- [ ] https://github.com/reTHINK-project/dev-msg-node-nomatrix
- [ ] https://github.com/reTHINK-project/dev-msg-node-matrix
- [ ] https://github.com/reTHINK-project/dev-msg-n

[2016-11-10 08:52] sdruesedow commented on #51
done  for "matrix" and "nomatrix"

[2016-11-10 08:56] jboulmal commented on #51
Already done for msg-node-nodejs [here](https://github.com/reTHINK-project/dev-catalogue/tree/master/docker/catalogue-database-reTHINKdefault/catalogue_objects/protocolstub/NodejsProtoStub)

[2016-11-22 11:24] Endebert commented on #51
Assuming this can be closed.

[2016-11-22 11:24] #51 closed

[2017-01-05 17:33] vitormsilva opened #55 "Catalogue Error getting sourcePackage"
I having this error:

[code]

But the database was running well:
![screenshot from 2017-01-05 17-23-34](https://cloud.githubusercontent.com/assets/10596749/21690479/5f9e183a-d36c-11e6-89e0-4c7f3c0febc3.png)

The commands i ran:

[code]
Could help me?

Btw: could see too, why the https://hub.docker.com/r/rethink/catalogue-test-client/builds/ have errors? This docker if only for tests contains the (

[2017-01-10 15:41] Endebert commented on #55
@vitormsilva the docker image for `rethink/catalogue-database-rethinkdefault` is still using the old version of the database (i.e. 1.3.2 instead of 1.4.0). This is because `rethink/catalogue-database-rethinkdefault` is based on `rethink/catalogue-database`, but their automated build is triggered at the same time, so `rethink/catalogue-database-rethinkdefault` is always 1 push behind. I just pushed

[2017-01-11 10:00] vitormsilva commented on #55
Ok.. thanks for the reply.

Yes.. but after that we talk with @emmelmann-fokus about have the content of issue #46 running on a separed folder [here](https://github.com/reTHINK-project/dev-catalogue/pull/52) and [here](https://github.com/reTHINK-project/dev-catalogue/tree/master/docker/catalogue-database-tests).

The build still failling https://hub.docker.com/r/rethink/catalogue-test-client/build

[2017-01-11 10:39] emmelmann-fokus commented on #55
I try to narrow down the issue:

* The catalogue-test-client docker image is based on catalogue-baseline image.
* the catalogue-baseline images builds correctly on docker hub.
* the catalogue-test-client image is maintained by victor.
* the error message for building the the catalogue-test-client image is as follows:

[code]

Note: this message can be retrieved by going to https://hub.docker.com/r

[2017-01-11 10:40] emmelmann-fokus commented on #55
Closing this issue as it seems it relates to errors in the catalogue-test-client docker file and not the catalogue code.

Please reopen if we encounter errors in the catalogue code.

[2017-01-11 10:40] #55 closed

[2017-02-24 09:52] vitormsilva opened #57 "idp proxy/protocolstub catalogue object incompatible with the specs"
Hi,

The idp-proxy/protocolstub catalogue object is incompatible with the [specs](https://github.com/reTHINK-project/specs/tree/master/datamodel/core/hyperty-catalogue#protocol-stub-descriptor), some properties are missing.

When we update our idp-proxy or protocolstubs descriptor file, the catalogue broker doesn't return the same result as we have on that files;

We have this descriptor file, for

[2017-02-27 01:45] Endebert commented on #57
From your example I can gather that `accessControlPolicy`. `interworking` and `type` are missing. However:

* `accessControlPolicy` is not an attribute of Protocolstub according to the spec
* `interworking` is present when testing locally with the example you provided. Could you please check that you have a current version?
* `type` has never been supported up until now, only `hypertyType`. If you

[2017-02-27 11:30] luistduarte commented on #57
I was looking to the specs and you are right at the some points

- accessControlPolicy has been removed
- interworking is present for protostub but not for idpProxy.. I am using latest version of [catalogue broker image](https://hub.docker.com/r/rethink/catalogue-broker/builds/bpkjp6sza4ezu3dxuxyta5h/) and interworking attribute is missing..

![screenshot from 2017-02-27 11 29 30](https://cloud.gi

[2017-02-27 12:56] Endebert commented on #57
@luistduarte you are right. I have updated the model.json in the dev branch. I'm unable to test it right now, but that should fix the problem. Master branch will get the update probably tonight after I tested the changes.

[2017-03-01 15:38] luistduarte commented on #57
@Endebert

I'm still with troubles.
When i am using docker image (last build) available in the docker-hub, interworking property for the IDPProxy is ignored, but using source-code and running catalogue-broker natively from repository dev-catalogue i can set interworking property as true on IDPProxy.

What is going on? any idea?

[2017-03-01 18:11] Endebert commented on #57
@luistduarte I just tested the docker images on my workstation and they work properly.

You were only talking about the Catalogue Broker, have you also pulled the newest Catalogue Database docker image? Updates to both are needed in order for it to work. (otherwise the Database doesn't even serve the information to the Broker)

If it still doesn't work. I will make a new release with a new version

[2017-03-02 12:07] luistduarte opened #59 "Installing Objects with different Constraints"
How can we install objects with "same name" for being used on different runtimes.

Eg.
How can we define a default Protosub for Node and another One for Browser. I give you a simple diagram for be easy to understand

![diagram](https://cloud.githubusercontent.com/assets/11315256/23506543/c6d08a9c-ff40-11e6-804d-87e488efcb26.png)

Luís

[2017-03-02 14:33] luistduarte commented on #57
@Endebert

yes, I pulled the newest Catalogue Database [docker image](https://hub.docker.com/r/rethink/catalogue-database-rethinkdefault/)

Can you just test it with our [database](https://github.com/reTHINK-project/testbeds/tree/master/nodes/PT-node/development)? And check if on idpProxy interworking property is true for 'slack.com'.
![screenshot from 2017-03-02 14 32 55](https://cloud.githubuser

[2017-03-02 16:13] Endebert commented on #57
Ah, I think I figured it out. I was just testing with rethink/catalogue-database. Since both rethink/catalogue-database and rethink/catalogue-database-rethinkdefault are built at the same time, the rethinkdefault image is probably one commit behind.

I just pushed a pseudo commit, I'm pretty sure this should fix it. Please pull the new docker image when the build is done.

[2017-03-02 16:42] Endebert commented on #59
In case you want to have multiple "default" objects, you can simply declare them multiple times in the config or via launch option. For example, it could look something like this:

[code]
---
In case you want to have multiple objects using the same name (that is different from "default"), I believe you can simply define the same `objectName` in the description.json of both.

So, based on your exam

[2017-03-02 16:52] luistduarte commented on #57
Without success..

[2017-03-03 09:39] Endebert commented on #57
Ok so there has to be some setup problem somewhere. Locally testing it again with rethink/catalogue-database-rethinkdefault and rethink/catalogue-broker was successful for me, i.e. interworking is displayed.

If I have time today, I will create a release with version 1.4.1, then we just have to look at the log prints to see if everything is up-to-date.

[2017-03-03 09:44] luistduarte commented on #57
Interworking is displayed on Protostub or on IDPProxy? For Protustub it is working for me.. But for IDPProxy is not.

[2017-03-03 16:28] luistduarte opened #60 "Not Allowed access when we have different domains (POST)"
when i use postman it gives me the right answer.
![screenshot from 2017-03-03 16 05 58](https://cloud.githubusercontent.com/assets/11315256/23559023/ab267282-002d-11e7-8ae5-f83e9a3df775.png)

But when i use one App with different domain, access is not permitted because we have differente domains (localhost and catalogue.localhost domains)
![screenshot from 2017-03-03 16 05 32](https://cloud.github

[2017-03-03 18:57] Endebert commented on #60
I did some testing, and I think I found the cause of the problem. But I will have to investigate it further.

What I can tell you is this: The cause of the error comes from the headers you add to the request, i.e.:
[code]

Send the request without those headers and it works. I can't tell you why, though.

From what I can observe, I believe the request reaches the Broker, and I think the Broker aut

[2017-03-06 11:25] luistduarte commented on #60
Thanks Robert, but after this i get another error, seems like catalogue is not prepared for make POST request method on `https://catalogue.localhost/.well-known/sourcepackage/GroupChatManager`,
![screenshot from 2017-03-06 11 22 12](https://cloud.githubusercontent.com/assets/11315256/23608073/7ebee1b4-025f-11e7-92e9-42190fab027c.png)

[2017-03-07 13:30] emmelmann-fokus commented on #60
Hi @pchainho ,

Robert will contact you directly to suggest a date / time for an integration session.

[2017-03-07 16:06] Endebert commented on #60
@luistduarte Sorry for the late response. This is a bug in RuntimeCatalogue of dev-service-framework. It tries to get the sourcePackage with the same constraints, which can't succeed.

I pushed a fix into a new branch called `sourcepackage_fix`. Please try it and tell me if it solves the problem.

Based on your feedback (i.e. if there are still problems), I will try to make time for a call on Thur

[2017-03-07 17:24] luistduarte commented on #60
yes, there are still problems.. but it is a different one. `POST https://catalogue.localhost/.well-known/protocolstub/default/cguid 500 (Server Error)`

I used this command for start catalogue-broker: `command: [-host, 'catalogue.localhost', -default, protocolstub/VertxProtoStub, -default, protocolstub/VertxProtoStubNode]`

Testing on Postman it works for this url: `POST https://catalogue.localhos

[2017-03-13 11:10] #57 closed

[2017-03-13 11:49] #59 closed

[2017-03-13 13:27] luistduarte opened #62 "Constraints Matching Problems"
For example when we have one hyperty like HelloWorldObserver. Their constraints are  `"constraints": { "browser": true }`. Normally our device Capabilities when we are using a "normal" laptop are `"constraints": { "browser": true, "windowSandbox": true, "mic": true, "camera": true }`.

So if the hyperty got only these contraints and our request is with our capabilities, We can't found this hyperty

[2017-03-13 13:56] pchainho commented on #62
Constraints defined in the descriptor identifies capabilities required by the runtime. If no constraints are defined, it means the component can be deployed on any runtime independently of its capabilities.

Only descriptors that explicitly set constraints ie `<constraint> : true` have to be matched with runtime capabilities present in the runtime catalogue request.

[2017-03-14 14:42] Endebert commented on #62
It is clear to me that this cannot work. Because e.g. you want `"windowSandbox": true`, but the hyperty doesn't guarantee that it supports/provides this functionality, therefore it is not being returned.

As I said before, this is _matching_ constraints. [I also described this in the initial issue](https://github.com/reTHINK-project/specs/issues/13):

Since you never said you needed optional const

[2017-03-14 16:00] pchainho commented on #62
I don't think it is a question of supporting optional constraints since all constraints defined in the descriptors are mandatory.

For example, the descriptor of one protostub that is deployable in the Browser Runtime, has defined as constraints: `{ "browser": true }`

This catalogue object should only be returned when requested by the runtime catalogue, if the payload "constraints" contains  `"br

[2017-03-15 09:13] Endebert commented on #62
Thanks for clearing this up. Because I always interpreted them as being from the perspective of the runtime, i.e. "I want a hyperty that fulfills these criteria".

Fortunately, inverting the functionality seems to be an easy task. I will have a look at it.

[2017-03-15 09:20] pchainho commented on #62
Great, thx

[2017-03-15 12:55] Endebert commented on #62
@pchainho @luistduarte I have updated the Catalogue Broker (both dev and master branch)

Please pull the new image when ready and test it. Since I increased the version number, you can verify having the correct version when looking at the Catalogue Broker version in the log.

[2017-03-15 13:05] luistduarte commented on #62
I will try this afternoon, thanks Robert

[2017-03-15 17:19] luistduarte commented on #62
The first impression was good, tomorrow I make more tests and i can close this issue, if everything is alright

[2017-03-20 11:56] #62 closed

[2017-03-20 11:57] #60 closed

[2017-06-28 08:52] emmelmann-fokus opened #63 "Branches clean up"
Robert,

please merge the dev branch in the master (via merge request) and delete and "stale" old branches that are not used any more.

Thanks,

Marc

[2017-06-28 09:01] Endebert commented on #63
all cleaned up.

* all changes of dev branch merged into master
* new version set: 1.4.2
* dev branch updated to master state
* deleted old/unused branches

[2017-06-28 09:01] #63 closed

[2017-07-12 14:54] pchainho opened #66 "Catalogue assessment review"
https://github.com/reTHINK-project/dev-catalogue/blob/master/doc/assessment/Readme.md

from Simon's review: *incomplete*

[2017-07-12 15:19] emmelmann-fokus commented on #66
Please integrate the text as is.  I will make any needed corrections in word.

[2017-07-19 23:04] pchainho commented on #66
The incomplete sentence is still there, now with a comment from @jmcrom

[2017-07-20 07:51] emmelmann-fokus commented on #66
done in REV-0.10 on bscw

[2017-07-20 07:51] #66 closed